@import "styles/mixin.scss";
@import "styles/variables.module.scss";

@mixin headPadding {
  padding: 5px 10px;
}
@mixin flexCommon {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
}

.header {
  width: 100%;
  transition: width 0.28s;
  overflow: hidden;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.header-bar {
  @include alignCenter;
  margin: 0 auto;
  height: var(--height-head);
  padding: 0 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}
.logo-wrap {
  display: flex;
  margin-right: 0.1rem;
  a {
    @include alignCenter;
    img {
      width: 40px;
      height: 40px;
      border-radius: 15%;
    }
    h1 {
      margin: 0;
      margin-left: 15px;
      font-size: 19px;
      color: rgba($color: #fff, $alpha: 0.8);
    }
  }
}

.navbar {
  @include flexCommon;
  justify-content: center;
  flex-grow: 1;
  &-left,
  &-right {
    @include flexCommon;
  }
  &-left {
    margin-right: auto;
    justify-content: flex-start;
  }
  &-right {
    justify-content: flex-end;
  }
  &-item {
    @include headPadding;
    align-items: center;
    color: rgba($color: #fff, $alpha: 0.8);
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    font-size: 17px;
  }
}