// sidebar
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$subMenuActiveText: #f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 210px;

// 
$container: 1440px;
$headHeight: 66px;
$bgc: rgba(36, 42, 54, 1); //background color
$mbgc: rgba(255, 255, 255, 1); //main background color

// 决定使用css变量
:root {
  --height-head: 66px;
  --width-container: 1440px;
  --column-count: 4;
  --color-background: rgba(36, 42, 54, 1);
  --color-background-main: rgba(255, 255, 255, 1);
}

